main {
    min-height: 250px;
}
.btn-darkred{

    background-color: darkred;
    color: white;
}
.btn-outline-darkred{
    border-color: darkred;
    outline-color: darkred;
    color: darkred;
    font-weight: bold;
}
.nav-link{
    color: darkred !important;
}
.link-dark{
    border-bottom: 1px solid darkred;
    padding-bottom: 3px;
}
.nav-logo{
    height: 32px;
}